<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba Frontend</title>
    <link rel="stylesheet" href="../styles/normalize.css" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
</head>

<body>
    <header id="main-header">
        <div class="row mr-0 ml-0">
            <nav class="navbar-nav col-3 pr-0 pl-0">
                <div class="toolbar"></div>
                <ul class="nav flex-column  pl-5">
                    <li class="nav-item">
                        <a class="nav-link d-sm-flex text-secondary pt-2" href="#">
                            <span class="material-icons pr-2"> dashboard </span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link d-sm-flex text-secondary" href="#">
                            <span class="material-icons pr-2"> storefront </span>
                            Mi Tienda
                        </a>
                    </li>
                    <li class="">
                        <a aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" class="nav-link d-sm-flex "
                            role="button" href="#">
                            <span class="material-icons active pr-2"> storefront </span>
                            Módulos
                        </a>
                        <ul>
                            <li class="nav-item"><a class="nav-link" href="#">PIM</a></li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">CMS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">CRM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">WMS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">Marketing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">Reportes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">Tutoriales</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="#">Personalización</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="col-9 pr-0 pl-0">
                <div class="d-flex justify-content-end container-nav-user">
                    <nav class="navbar d-flex justify-content-center align-items-center p-4">
                        <p href="#">
                            <img src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg"
                                width="50" height="50" class="d-inline-block align-center" alt="" loading="lazy" />
                            Perfil
                        </p>
                    </nav>
                </div>
                <div class="container p-4 bg-light">
                    <div class="container-breadcrumb">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-light">
                                <li class="breadcrumb-item">
                                    <a href="#" class="d-flex">
                                        <span class="material-icons active pr-2">
                                            storefront
                                        </span>
                                        Mi tienda</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">Productos</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Agregar producto
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="container-form bg-white">
                        <div class="p-3 d-flex align-items-center">
                            <h6 class="h6 m-0">AGREGAR PRODUCTO</h6>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="coontainer-form-header">
                            <div class="header-form">
                                <div>
                                    <h4 class="h4 m-0 text-sm-center text-md-center text-xl-center text-dark">
                                        Agregar un producto
                                    </h4>
                                </div>
                                <div class="d-flex justify-content-center pt-4 pb-4">
                                    <div class="d-flex justify-content-center">
                                        <span
                                            class="bg-dark text-white rounded-circle border border-dark pr-2 pl-2">1</span>
                                        <span class="pr-3 pl-2">Información de producto ...</span>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <span class="border border-dark rounded-circle pr-2 pl-2">2</span>
                                        <span class="pl-2"> Configuración de producto </span>
                                    </div>
                                </div>
                            </div>
                            <form novalidate class="needs-validation">
                                <div class="row mr-4 ml-4 justify-content-around">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="codeName" class="text-primary d-flex ">
                                                Código <span class="material-icons"> error </span>
                                            </label>
                                            <input placeholder="Ingrese un nombre de producto" name="codeName" required
                                                type="text" class="form-control" id="codeName" />
                                        </div>
                                        <div class="form-group">
                                            <label for="URLSKUName" class="text-primary d-flex">
                                                URL/SKU <span class="material-icons"> error </span>
                                            </label>
                                            <input required placeholder="Ingrese un nombre de producto"
                                                name="URLSKUName" type="text" class="form-control" id="URLSKUName" />
                                        </div>
                                        <div class="form-group">
                                            <label for="categoriaName" class="text-primary d-flex">
                                                Categoría <span class="material-icons"> error </span>
                                            </label>
                                            <select required class="custom-select" id="categoriaName">
                                                <option selected disabled value="">Seleccione una linea</option>
                                                <option value="lateo">lateo</option>
                                                <option value="fruta">fruta</option>
                                                <option value="legumbre">legumbre</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="text-primary d-flex">
                                                Fotos principales
                                            </label>

                                            <div class="container-files">
                                                <small>PNG, JPG - 10 MB</small>
                                                <h5 class="h5">Arrastrar y soltar archivos aquí o</h5>
                                                <label for="exampleFormControlFile1" class="text-primary d-flex">
                                                    Escoger archivo
                                                </label>
                                                <span id="exampleFormControlFile1">
                                                    <input required name="filesName" type="file"
                                                        class="form-control-file" id="exampleFormControlFile1">
                                                </span>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="col-6">

                                        <div class="form-group">
                                            <label for="NombreName" class="text-primary d-flex ">
                                                Nombre <span class="material-icons"> error </span>
                                            </label>
                                            <input required placeholder="Ingrese un nombre de producto"
                                                name="NombreName" type="text" class="form-control" id="NombreName" />
                                        </div>

                                        <div class="form-group">
                                            <label for="categoriaName" class="text-primary d-flex">
                                                Línea de producto <span class="material-icons"> error </span>
                                            </label>
                                            <select required class="custom-select" id="categoriaName">
                                                <option selected disabled value="">Seleccione un linea</option>
                                                <option value="colgate">Colgate</option>
                                                <option value="bedhead">Bedhead</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="categoriaName" class="text-primary d-flex">
                                                Subcategoría <span class="material-icons"> error </span>
                                            </label>
                                            <select required class="custom-select" id="categoriaName">
                                                <option selected disabled value="">Seleccione un linea</option>
                                                <option value="colgate">aseo</option>
                                                <option value="bedhead">domesticos</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="descripcionName">Descripción</label>
                                            <textarea placeholder="Ingrese una descripción para su producto"
                                                class="form-control" id="descripcionName" rows="4"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-5 pb-3 d-flex justify-content-end pr-3" >
                                    <div class="btn-group-lg" role="group" aria-label="Basic example">
                                        <button type="submit" class="btn btn-outline-secondary btn-lg text-primary">Cancelar</button>
                                        <button type="submi" class="btn btn-outline-secondary btn-lg text-primary">Continuar</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main></main>
</body>

</html>